body{
	margin: 0px;

}
.container{
	width: 100%;
	margin: 0px;
	position: absolute;
}
h1{
	position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
	margin-top: 2%;
	color: red;


}
h2{
	position: absolute;
  left: 90%;
  transform: translate(-50%, -50%);
	margin-top: 2%;
	color: yellow;
}
#canvas{
	width: 100vw;
	background-color: #333;

}
